= f.input :name, placeholder: true, input_html: { class: "form-item" }
= f.input :start_date, as: :date, prompt: true
= f.input :end_date, as: :date, prompt: true
= f.input :number_participants, placeholder: true
= f.input :description, placeholder: true, as: :text, input_html: { class: "form-item", rows: 8 }
= f.input :note, placeholder: true, input_html: { class: "form-item" }
