html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

body {
  background-color: #364150;
  height: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  outline:none;
}

p {
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  height: 300px;
}

.main_container {
  height: 94vh;
  overflow: scroll;
  background-color: #f7f7f7;
}

.separator {
  font-size: 0.5rem;
  margin: 0 1rem;
  position: relative;
  top: -3px;
  opacity: .4;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0;
}

.btn.right {
  float: right;
}
.action-container.strech-container {
  padding: 1.5rem 25rem 3rem 25rem;
}

.filter-text h2 {
  margin: 0 1rem;
}

.filter-text span {
  padding: .5rem 1rem;
  font-size: 1.5rem;
  color: #888;
  background-color: #f7f7f7;
  border-radius: 1rem;
  border: solid 1px #ddd;
  float: left;
  margin-top: .3rem;
}

.filter-text .remove-filter {
  color: #000;
  text-decoration: none;
  position: relative;
  top: -0.5em;
  font-size: 80%;
  color: #888;
  margin-left: .5rem;
}

.filter-text .remove-filter:hover {
  cursor: pointer;
  color: #333;
  position: relative;
  top: -0.5em;
}