.side-bar {
  width: 5rem;
  float:left;
}

.side-bar ul{
  color: #fff;
}

.side-bar li {
  text-align: center;
  padding: 1rem 0rem 0.5rem 0rem;
}

.side-bar i {
  font-size: 2rem;
  color: #6b788b;
}

.side-bar i:hover {
  color: #fff;
}
